* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Itim", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.winner {
  font-size: 45px;
  background: -webkit-linear-gradient(#ff0202, #1353dd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main {
  width: 550px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.scores {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scores p {
  font-size: 35px;
}

.scores p span{
  transition: all 1s;
}

.choices {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.choices div {
  width: 100px;
  height: 50px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  border-radius: 15px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.addTxt{
  font-size: 45px;
}

.add{
    transform: scale(1.1);
}

.pChoice {
  background: #ff512f;
  background: -webkit-linear-gradient(to right, #dd2476, #ff512f);
  background: linear-gradient(to right, #dd2476, #ff512f);
}

.cChoice {
  background: #e55d87;
  background: -webkit-linear-gradient(to right, #5fc3e4, #e55d87);
  background: linear-gradient(to right, #5fc3e4, #e55d87);
}

.btns {
  margin-top: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btns button {
  padding: 10px 50px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: white;
}

.rock {
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}

.paper {
  background: #acb6e5;
  background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);
  background: linear-gradient(to right, #86fde8, #acb6e5);
}

.scissors {
  background: #334d50;
  background: -webkit-linear-gradient(to right, #cbcaa5, #334d50);
  background: linear-gradient(to right, #cbcaa5, #334d50);
}
